/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* Colors */

$alabaster: #FAFAFA;
$gallery: #ECECEC;
$silver: #C9C9C9;
$novel: #B7B7B7;
$boulder: #7A7A7A;

/* Shadows */


html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html, body{
	height: 100%;
}


body{
	font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input {
    line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: none;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input{
    height: 38px;
    padding: 0 15px;
    color: $boulder;
    margin-bottom: 12px !important;
    width: 100%;
    font-size: 15px;
    outline: none;
    background: #fff;
    appearance: none;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid $gallery;
    font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    -webkit-transition: border .15s ease-out;
    transition: border .15s ease-out;
}

fieldset {
    border: 1px solid $silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}


.notice, .alert{
    display: none;
}

.mask_content{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    box-sizing: border-box;
    width: 352px;
    height: 450px;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0 4px 14px rgba(0, 0, 0, .12);
    z-index: 3;
    padding: 36px;
    h1{
        text-align: center;
        margin-bottom: 2.5rem;
    }
    .tabs {
      position: relative;   
      min-height: 260px;
      clear: both;
    }
    .tab {
      float: left;
    }
    .tab > label {
      background: #fcfcfc;
      color: #707070;
      padding: 10px 16px; 
      border: 1px solid #e4e4e4;; 
      margin-left: -1px; 
      position: relative;
      left: 1px; 
    }
    .tab [type=radio] {
      display: none;   
    }
    .content {
      position: absolute;
      top: 30px;
      left: 0;
      background: white;
      right: 0;
      bottom: 0;
      padding: 20px;
      border: 1px solid #e4e4e4;; 
    }
    [type=radio]:checked ~ label {
        background: white;
        color: #333333;
        border-top: 1px solid #4B97E3;
        border-bottom: 1px solid white;
        z-index: 2;
    }
    [type=radio]:checked ~ label ~ .content {
      z-index: 1;
    }
}




.sidebar{
    width: 352px;
    background-color: #FFFFFF;
}

.lists-inner{
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

header{
    margin: 0 32px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    background: white;
    padding-left: 4px;
    padding-top: 32px;
    padding-bottom: 16px;
    .menu{
        display: inline-block;
        a{
            display: block;
            height: 24px;
            width: 24px;
        }
        i{
            color: #8B9297; 
        }
    }

    .header-wrapper{
        display: inline-block;
        bottom: 6px;
        margin-left: 12px;
        position: relative;
        span{
            font-size: 16px;
            font-weight: 700;
            color: #8B9297;
            line-height: 22px;
        }
    }
}

.lists-scroll{
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    ul{
        padding: 36px;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
    }
}

.new_destination{
    margin-left: 32px; 
    margin-right: 32px;
}

.search_container{
	position: relative;
	svg{
		position: absolute;
		top: 12px;
		left: 14px;
	}
}

#destination_name {
    height: 38px;
    padding: 0 15px 0 36px;
    color: $boulder;
    margin-bottom: 40px;
    width: 100%;
    font-size: 15px;
    outline: none;
    background: #fff;
    appearance: none;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid $gallery;
	font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    -webkit-transition: border .15s ease-out;
    transition: border .15s ease-out;
}

#destination_name:focus{
    border: 1px solid $silver;
    -webkit-transition: border .15s ease-in;
    transition: border .15s ease-in;
}

ul{
    list-style-type: none;
    margin: 0;
    li{
        margin-bottom: 40px;
    }
    li:last-of-type{
        margin-bottom: 0px;
    }
    li:hover{
        figure{
            box-shadow: 0px 8px 16px -6px rgba(0, 0, 0, 0.2);
            -webkit-transition: box-shadow .15s ease-in;
            transition: box-shadow .15s ease-in;
        }
        .more_icon{
            opacity: 1;
            -webkit-transition: all .15s ease-in;
            transition: all .15s ease-in;
        }
        
    }
    li.first{
        figure{
            height: 260px;
        }
        figcaption{
            bottom: 26px;
        }
//        img{
//            height: 260px;
//        }
        .more_icon{
            bottom: 26px;
        }

    }
}

.top-shadow{
    box-shadow: 0 -4px 0px 4px #FFFFFF, 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: all .15s ease-in;
}

figure{
    margin: 0 !important;
    position: relative;
    box-shadow: 0px 8px 16px -6px rgba(0, 0, 0, 0.0);

    position: relative;
    display: flex;
    justify-content: center;
    height: 160px;
    overflow: hidden;
    border-radius: 6px;

    -webkit-transition: box-shadow .2s ease-out;
    transition: box-shadow .2s ease-out;
    img{
        border-radius: 6px;
        // Centered position for images
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
//        height: 160px;
    }
    .shadow_mask{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(-180deg, rgba(50,50,50,0.00) 0%, rgba(50,50,50,0.00) 47%, rgba(50,50,50,0.12) 69%, rgba(50,50,50,0.28) 87%, rgba(50,50,50,0.48) 100%);
        -webkit-box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.02);
        -moz-box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.02);
        box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.02);
        border-radius: 6px;
    }
    figcaption{
        position: absolute;
        bottom: 14px;
        left: 20px;
        color: #FFFFFF;
        font-size: 22px;
        letter-spacing: 1px;
        line-height: 28px;
        span{
            color: $alabaster;
            opacity: 0.6;
            margin-right: 3px;
        }
    }
    .more_icon{
        position: absolute;
        opacity: 0;
        bottom: 14px;
        right: 16px;
        display: block;
        line-height: 0;
        padding: 11px 14px;
        background: rgba(0, 0, 0, 0.32);
        border-radius: 100px;
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out;
    }
}

#empty_state{
    text-align: center;
    -webkit-box-flex: 4;
    -moz-box-flex: 4;
    -o-box-flex: 4;
    box-flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
    p{
        font-size: 15px;
        color: #9AA0A3;
        letter-spacing: 0.6px;
        line-height: 16px;
        margin-top: 0px;
        margin-bottom: 16px;
    }
}

#map{
	position: absolute;
	top: 0px;
	bottom: 0;
	left: 352px;
	width: calc(100% - 352px);
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
